.tooltip-wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  left: 50%;
  width: 300px;
  transform: translateX(-50%);

  transition: all 0.3s ease;

  z-index: 100000 !important;
}

.tooltip-data {
  font-size: 12px;
  color: white;
  background-color: #0057a8;
  padding: 2.5rem 2rem;
  border-radius: 15px;
  line-height: 1.7;
  position: relative;

  z-index: 1000000 !important;
}

.tooltip.bottom {
  top: calc(85%);
  opacity: 0;
  display: none;
  padding-top: 45px;
}

.tooltip.top {
  bottom: calc(85%);
  opacity: 0;
  display: none;

  padding-bottom: 45px;
}

.tooltip a {
  color: white;
  text-decoration: underline;
}

.tooltip.top .tooltip-data::before {
  bottom: -5px;
  left: 50%;
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  background-color: #0057a8;
  transform: translateX(-50%) rotate(45deg);
}

.tooltip-wrapper:hover .tooltip.bottom,
.tooltip-wrapper:hover .tooltip.top {
  display: block;
  opacity: 1;
  animation: fade-in 0.3s ease forwards;

  z-index: 100000 !important;
}

.tooltip.bottom .tooltip-data::before {
  top: -5px;
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  background-color: #0057a8;
  transform: translateX(-50%) rotate(45deg);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .tooltip {
    display: none;
  }

  .tooltip-wrapper:hover .tooltip.bottom,
  .tooltip-wrapper:hover .tooltip.top {
    display: none;
  }
}
